:root {
    --select-color:rgb(255, 255, 255);
    --head-text-color: rgb(255, 255, 255);
    --background-color:rgb(255, 255, 255);
    --main-color:rgb(22, 133, 72);
    --button-rounding: 0px;
}



/*Header*/
h1, p, a{
  margin: 0;
  margin-bottom: 0px;
  padding: 0;
  font-family: system-ui;
}

h1 {
  font-size: 3.5em;
  padding: 10px 0;
  font-weight: 800;
}

.header {
  width: 100%;
  padding: 15px 0;
  text-align: center;
  color: var(--head-text-color);
  background-color: var(--main-color);
}

.quote {
  font-size: 1.1em;
  font-weight: 100;
  letter-spacing: 3px;
}

.flexbox-container {
  display: flex;
  flex-direction: column;  
  background-size: cover;
  background-repeat: no-repeat;
}

/*Toolbar*/
ul {
    list-style-type: none;
    margin: 0;
    padding-left: 90px;
    padding-right: 90px;
    width: auto;
    height: 50px;
    background-color: rgba(41, 18, 18, 0.781);
    overflow: hidden;
    position: static;
    top: 0px;
  }
  
  li a {
    display: flex;
    color: var(--select-color);
    padding: 8px 16px;
    text-decoration: none;
    height: 50px;
  }
  
  li {
    float: left;
    padding-left: 0px;
  }
  
  a {
    display: block;
    padding: 8px;
    background-color: var(--main-color);
    color:white;
    font-weight: bolder;
    font-size: 20px;
    margin-left: 15px;
  }

  /* Change the link color on hover */
  a:hover {
    background-color: rgb(81, 201, 135);
    color: rgb(255, 255, 255);
    font-weight: bold;
  }
  a.active {
    background-color: rgb(81, 201, 135);
    color: rgb(255, 255, 255);
    font-weight: bold; 
  }