:root {
  --select-color:rgba(255, 255, 255, 0.404);
  --head-text-color: rgb(255, 255, 255);
  --background-color:rgb(255, 255, 255);
  --main-color:rgb(22, 133, 72);
  --button-rounding: 0px;
}

body{
    display: flex;
    margin: 0px;
    background-color: var(--background-color);
    flex-direction: column;
}

.flexbox-content{
    display: flex;
    flex-direction: row;
    align-content: flex-start;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 5%;
    padding-bottom: 5%;
    width: auto;
}

@media (max-width: 1000px) {
    .flexbox-content {
        flex-direction: column;
    }
  }

.flexbox-paragraph{
    display:flex;
    background-color: var(--background-color);
    flex-direction: column;
    text-align: left;
    width: auto;
    max-width: auto;
    padding-right: 50px;
}

.titelp {
    color: rgb(0, 0, 0);
    display:block;
    width: auto;
}

.paragraph-text {
    color: black;
    font-size: 20px;
    width: auto;
    height: auto;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgba(41, 18, 18, 0.781);;
    color: rgba(255, 255, 255, 0.507);
    text-align: center;
    position: fixed;
    bottom: 0;
}
