:root {
    --select-color:rgba(255, 255, 255, 0.404);
    --head-text-color: rgb(255, 255, 255);
    --background-color:rgb(255, 255, 255);
    --main-color:rgb(22, 133, 72);
    --button-rounding: 0px;
}

/*Knop om naar bovenaan pagina te gaan*/
#myBtn {
    display: none;
    position: fixed;
    bottom: 30px;
    right: 20px;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    background-color: rgba(22, 133, 72, 0.658);
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 4px;
  }
  
  #myBtn:hover {
    background-color: rgb(22, 133, 72);
  }